/* SignIn */
body{
    background-color: #f6f1ed;
    height: 100vh;
}

.primary_button{
    background-color: rgb(12, 12, 101) !important;
    color: #ffffff !important;
    cursor:pointer;
}

.container{
  padding: 10px 30px;
}

.register {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 340px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 6px 20px 0px #d2d2d2;
}
.header_title{
    font-size: 32px;
    font-weight: 600;
}

.signIn{
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
}
.forgot_password {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    
}
.forgot{
    cursor: pointer;
    color: var(--primary_color);
}
.MuiTextField-root{
    width: 100% !important;
}

.account{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

/*  Sidebar */

  .menu-item {
    margin-bottom: 10px;
  }
  
  .menu-link {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #f4efef;                     /*  #19005e    blue   */
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
  .menu-link:hover {
    background-color: #fffefd;
    color: rgb(0, 0, 25);
  }
  
  .menu-label {
    margin-left: 10px;
    font-size: 14px;
  }
  
  .menu-link.active {
    background-color: #113187; 
  }

  .logo {
    object-fit: fill;
    width:140px;
    height:70px;
    display:flex;
   justify-content: center;
   align-items: center;
   font-size: 24px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  /* Layout */

  .layout {
    height: 100vh; 
    display: flex;
  }
  
  .main-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
  }
  
  .sidebar {
    width: 260px;
    /* height: 136vh;         sidebar height  */
    background-color: var(--primary_color);
    color: white;
    padding: 10px;
  }
  
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    height: 60px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dashboard {
    flex: 1; 
    overflow-y: auto;
    height: 100vh;
    padding: 10px 3px;
    background-color: #f4f4f4;
  }

  /* Seacrh */
.search{
  width: 200px !important;
}

/* LayoutRooms */
.MuiTableCell-root{                     /*  Can Comment out it */
  padding: 8px 0px !important;
}

/* Icon color on hover */
.menu-link:hover .icon-image {
  filter: brightness(0.1) invert(0) !important;
}

